.home-container h1{
    font-size: 70px; 
    height: 45px;   
}

.links-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Home-links{
    background-color: #088fab;
    border-radius: 5px;
    width: 80px;
    padding: 20px 50px;
    text-decoration: none;  
    color: white;
    font-weight: bolder;
    
}